@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

html {
  background-color: #ffffff;
  color: #18181b;
}

html.dark {
  background-color: #101214;
  color: #ffffff;
}
